body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#d1 {
    text-align: center;

}

#d1 h1 {
    color: blueviolet;
    margin-top: -20px;
    font-size: 50px;
    text-decoration: underline;
    font-weight: 300;
}

#d1 img {
    margin-bottom: -60px;
}

#d2 { 
    margin-left: 400px;
    text-align: center;
    background-color: blueviolet;
    font-size: 18px;
    width: 1000px;
    height: 90vh;  
    padding: 10px;
    margin-top: 10px;
    
}

#d2 p {
    text-align: left;
   
}

#but{
    margin-left: 400px;
      
}

#d3{
    text-align: center;

}

#img{
    height: 400px;
}
#thank {
    font-size: 70px;
    color: green;
    font-weight: bold;
    margin-top: -30px;
}

h3{
    font-size: 50px;
    color: blueviolet;
}

#b1{
    color: blueviolet;
font-size: 40px;
text-decoration: underline;
}

#i1{
    margin-left: 50px;
}
#i2 {
    margin-left: 55px;
}


#i3 {    margin-left: 20px;


}
#i4 {    margin-left: 85px;

    
}
#i5 {    margin-left: 15px;

    
}
#i6 {
    margin-left: 80px;

}
#i7 {
    margin-left: 10px;

}
#i8 {
    margin-left: 65px;

}
#i9 {
    margin-left: 35px;

}
#i10 {
    margin-left: 90px;

}
#i11 {
    margin-left: 80px;

}
#i12 {
    margin-left: 20px;

}
#i13{
    margin-left: 165px;
}
